{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col-md-5">
        <div class="card shadow-sm mb-4">
            <div class="card-header bg-success text-white"><h5>Форма авторизации</h5></div>
            <div class="card-body">
                <form method="POST">
                    <div class="mb-3">
                        <label class="form-label">Логин</label>
                        <input type="text" name="username" class="form-control" placeholder="user123">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Пароль</label>
                        <input type="password" name="password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success w-100">Отправить</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="card shadow-sm">
            <div class="card-header bg-dark text-white"><h5>Полученные параметры формы</h5></div>
            <div class="card-body">
                {% if auth_data %}
                    <pre>{{ auth_data | dictsort }}</pre>
                {% else %}
                    <p class="text-muted italic">Отправьте форму, чтобы увидеть данные здесь.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}